/Java/Lesson4_2022_03_08/nbproject/private/
/Java/Lesson4_2022_03_08/build/
/Java/Lesson4_2022_03_08/dist/
/Java/Ora_5/nbproject/private/
/Java/Ora_5/build/
/Java/Lesson3_2023_03_29/nbproject/private/
/Java/Lesson3_2023_03_29/build/
/Java/Lesson7_Task2_2023_03_29/nbproject/private/
/Java/Lesson7_Task1_2023_03_29/build/
/Java/Lesson7_Task1_2023_03_29/nbproject/private/
/Java/Lesson7_Task2_2023_03_29/build/
/Java/Lesson7_Task2_2023_03_29/dist/
/Java/Lesson11/nbproject/private/
/Java/Lesson11/build/
/Java/Lesson11_2/nbproject/private/
/Java/Lesson11_2/build/
